<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true" />
    </application>

    <!--실제 패키지 이름 문자열이 직접 들어가야 함-->
    <queries>
        <package android:name="com.etoos.etoosstudyapp" />
        <package android:name="net.megastudy.smartplay.main" />
        <package android:name="com.ds.mimacstudy.smartnplayer" />
    </queries>

</manifest>